In [ ]:
# Let we st6arted to write a code and clean the data here.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dataset = pd.read_csv("portugal_house.csv",on_bad_lines='skip')
print(dataset)

/tmp/ipykernel_12695/1434070510.py:1: DtypeWarning: Columns (9,10,12,13,14,15,16,20) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("portugal_house.csv",on_bad_lines='skip')

           Price          District                  City  \
0       780000.0         Vila Real              Valpaços
1       223000.0              Faro  São Brás de Alportel
2       228000.0              Faro  São Brás de Alportel
3       250000.0              Faro  São Brás de Alportel
4       250000.0              Faro  São Brás de Alportel
...          ...               ...                   ...
135531  130000.0           Setúbal               Palmela
135532   45000.0  Viana do Castelo         Ponte de Lima
135533  349900.0         Vila Real              Valpaços
135534   50000.0         Vila Real                 Alijó
135535   35000.0         Vila Real              Valpaços

                                    Town       Type EnergyCertificate  \
0       Carrazedo de Montenegro e Curros       Farm                NC
1                   São Brás de Alportel  Apartment                A+
2                   São Brás de Alportel  Apartment                A+
3                   São Brás de Alportel  Apartment                A+
4                   São Brás de Alportel  Apartment                A+
...                                  ...        ...               ...
135531                           Palmela       Land                NC
135532                           Labruja      House                NC
135533                Valpaços e Sanfins      House                 F
135534                   Castedo e Cotas      House                NC
135535                           Algeriz       Land                NC

        GrossArea  TotalArea  Parking HasParking  ... Elevator  \
0           200.0   552450.0      0.0      False  ...    False
1             NaN       81.0      1.0       True  ...     True
2             NaN      108.0      1.0       True  ...     True
3             NaN      114.0      1.0       True  ...     True
4             NaN      114.0      1.0       True  ...     True
...           ...        ...      ...        ...  ...      ...
135531        NaN     1189.0      0.0        NaN  ...    False
135532        NaN      374.0      1.0        NaN  ...    False
135533        NaN      188.0      1.0        NaN  ...    False
135534        NaN       69.0      1.0        NaN  ...    False
135535        NaN      100.0      0.0        NaN  ...    False

        ElectricCarsCharging TotalRooms NumberOfBedrooms NumberOfWC  \
0                        NaN        NaN              NaN        NaN
1                        NaN        2.0              NaN        NaN
2                        NaN        2.0              NaN        NaN
3                        NaN        2.0              NaN        NaN
4                        NaN        2.0              NaN        NaN
...                      ...        ...              ...        ...
135531                 False        NaN              NaN        0.0
135532                 False        NaN              0.0        0.0
135533                 False        NaN              3.0        1.0
135534                 False        NaN              2.0        1.0
135535                 False        NaN              NaN        0.0

       ConservationStatus LivingArea  LotSize  BuiltArea  NumberOfBathrooms
0                     NaN      120.0      NaN        NaN                0.0
1                     NaN       81.0      NaN        NaN                2.0
2                     NaN      108.0      NaN        NaN                2.0
3                     NaN      114.0      NaN        NaN                0.0
4                     NaN      114.0      NaN        NaN                2.0
...                   ...        ...      ...        ...                ...
135531                NaN        NaN   1189.0        NaN                0.0
135532                NaN      374.0   4370.0        NaN                0.0
135533                NaN      190.0  18240.0      238.0                3.0
135534                NaN       84.0      NaN       84.5                2.0
135535                NaN        NaN    100.0        NaN                0.0

[135536 rows x 25 columns]

In [26]:
dataset.isnull().sum()

Price                      229
District                     0
City                         0
Town                         1
Type                        16
EnergyCertificate           14
GrossArea                72026
TotalArea                 4123
Parking                    194
HasParking               31449
Floor                    71735
ConstructionYear         35268
EnergyEfficiencyLevel    68247
PublishDate              88585
Garage                   68248
Elevator                    33
ElectricCarsCharging     68248
TotalRooms               39622
NumberOfBedrooms         78411
NumberOfWC               71709
ConservationStatus       90722
LivingArea               23127
LotSize                  80562
BuiltArea                87583
NumberOfBathrooms         4688
dtype: int64

In [27]:
dataset.isnull().mean()*100

Price                     0.229772
District                  0.000000
City                      0.000000
Town                      0.001003
Type                      0.016054
EnergyCertificate         0.014047
GrossArea                72.268823
TotalArea                 4.136900
Parking                   0.194654
HasParking               31.555025
Floor                    71.976842
ConstructionYear         35.386900
EnergyEfficiencyLevel    68.477083
PublishDate              88.883649
Garage                   68.478086
Elevator                  0.033111
ElectricCarsCharging     68.478086
TotalRooms               39.755579
NumberOfBedrooms         78.675349
NumberOfWC               71.950755
ConservationStatus       91.027854
LivingArea               23.204969
LotSize                  80.833601
BuiltArea                87.878271
NumberOfBathrooms         4.703805
dtype: float64

In [28]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99664 entries, 0 to 99663
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Price                  99435 non-null  float64
 1   District               99664 non-null  object
 2   City                   99664 non-null  object
 3   Town                   99663 non-null  object
 4   Type                   99648 non-null  object
 5   EnergyCertificate      99650 non-null  object
 6   GrossArea              27638 non-null  float64
 7   TotalArea              95541 non-null  float64
 8   Parking                99470 non-null  float64
 9   HasParking             68215 non-null  object
 10  Floor                  27929 non-null  object
 11  ConstructionYear       64396 non-null  float64
 12  EnergyEfficiencyLevel  31417 non-null  object
 13  PublishDate            11079 non-null  object
 14  Garage                 31416 non-null  object
 15  Elevator               99631 non-null  object
 16  ElectricCarsCharging   31416 non-null  object
 17  TotalRooms             60042 non-null  float64
 18  NumberOfBedrooms       21253 non-null  float64
 19  NumberOfWC             27955 non-null  float64
 20  ConservationStatus     8942 non-null   object
 21  LivingArea             76537 non-null  float64
 22  LotSize                19102 non-null  float64
 23  BuiltArea              12081 non-null  float64
 24  NumberOfBathrooms      94976 non-null  float64
dtypes: float64(12), object(13)
memory usage: 19.0+ MB

In [29]:
dataset.describe()

,Price,GrossArea,TotalArea,Parking,ConstructionYear,TotalRooms,NumberOfBedrooms,NumberOfWC,LivingArea,LotSize,BuiltArea,NumberOfBathrooms
count,9.943500e+04,2.763800e+04,9.554100e+04,99470.000000,64396.000000,60042.000000,21253.000000,27955.000000,7.653700e+04,1.910200e+04,1.208100e+04,94976.000000
mean,3.722978e+05,2.789733e+03,6.834999e+05,0.631738,1988.398130,3.024583,2.689550,0.423073,1.561135e+03,9.478449e+04,4.797664e+03,1.515636
std,4.422969e+06,1.153670e+05,1.987640e+08,0.924234,26.448466,11.475691,1.900965,1.070347,3.999737e+04,7.395449e+06,1.730020e+05,1.667934
min,1.000000e+02,-7.000000e+00,-7.196067e+06,0.000000,1900.000000,0.000000,0.000000,-15.000000,0.000000e+00,0.000000e+00,0.000000e+00,-13.000000
25%,7.900000e+04,1.000000e+02,9.600000e+01,0.000000,1971.000000,2.000000,2.000000,0.000000,8.000000e+01,2.890000e+02,1.058000e+02,0.000000
50%,2.000000e+05,1.640000e+02,1.830000e+02,0.000000,1993.000000,3.000000,3.000000,0.000000,1.200000e+02,7.760000e+02,1.763300e+02,1.000000
75%,3.928175e+05,2.940000e+02,6.880000e+02,1.000000,2008.000000,4.000000,3.000000,1.000000,2.110000e+02,3.254750e+03,3.147000e+02,2.000000
max,1.380000e+09,1.275000e+07,6.142007e+10,3.000000,2024.000000,2751.000000,21.000000,59.000000,5.429000e+06,9.923010e+08,1.275000e+07,90.000000

In [30]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

dataset = pd.read_csv('portugal_house.csv')

numeric_cols = dataset.select_dtypes(include=['number']).columns
dataset[numeric_cols] = dataset[numeric_cols].fillna(dataset[numeric_cols].median())

text_cols = dataset.select_dtypes(include=['object']).columns
for col in text_cols:
    most_frequent = dataset[col].mode()[0]
    dataset[col] = dataset[col].fillna(most_frequent)

dataset = dataset.drop_duplicates()

print("Cleaning complete! NOw our dataset is ready.")

/tmp/ipython-input-4076475054.py:4: DtypeWarning: Columns (9,10,12,13,14,15,16,20) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('portugal_house.csv')
/tmp/ipython-input-4076475054.py:12: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset[col] = dataset[col].fillna(most_frequent)

Cleaning complete! NOw our dataset is ready.

In [31]:

print(dataset.nunique())

Price                     4197
District                    25
City                       272
Town                      2234
Type                        21
EnergyCertificate           12
GrossArea                 2267
TotalArea                 7134
Parking                      4
HasParking                   2
Floor                       19
ConstructionYear           123
EnergyEfficiencyLevel       10
PublishDate              10848
Garage                       2
Elevator                     2
ElectricCarsCharging         2
TotalRooms                  52
NumberOfBedrooms            21
NumberOfWC                  23
ConservationStatus           6
LivingArea                2836
LotSize                   4808
BuiltArea                 4141
NumberOfBathrooms           38
dtype: int64

In [32]:

text_cols = dataset.select_dtypes(include=['object', 'string']).columns

for col in text_cols:
    print(f"{col}: {dataset[col].nunique()} unique values")

District: 25 unique values
City: 272 unique values
Town: 2234 unique values
Type: 21 unique values
EnergyCertificate: 12 unique values
Floor: 19 unique values
EnergyEfficiencyLevel: 10 unique values
PublishDate: 10848 unique values
ConservationStatus: 6 unique values

In [33]:
dataset.PublishDate

0        2024-07-29 10:00:47.103
1        2024-07-29 10:00:47.103
2        2024-07-29 10:00:47.103
3        2024-07-29 10:00:47.103
4        2024-07-29 10:00:47.103
                  ...
99659    2024-09-16 10:59:58.887
99660    2024-09-04 15:58:47.610
99661    2024-09-09 09:18:14.563
99662    2024-07-29 10:00:47.103
99663                          2
Name: PublishDate, Length: 94007, dtype: object

In [48]:

# dataset['PublishDate'] = pd.to_datetime(dataset['PublishDate'], format='mixed')

# dataset['published_year'] = dataset['PublishDate'].dt.year
# dataset['published_month'] = dataset['PublishDate'].dt.month
# dataset['published_day'] = dataset['PublishDate'].dt.dayofweek

# dataset = dataset.drop('PublishDate', axis=1)

# print("Date conversion successful!")

In [35]:
dataset.isnull().sum()

Price                    0
District                 0
City                     0
Town                     0
Type                     0
EnergyCertificate        0
GrossArea                0
TotalArea                0
Parking                  0
HasParking               0
Floor                    0
ConstructionYear         0
EnergyEfficiencyLevel    0
PublishDate              0
Garage                   0
Elevator                 0
ElectricCarsCharging     0
TotalRooms               0
NumberOfBedrooms         0
NumberOfWC               0
ConservationStatus       0
LivingArea               0
LotSize                  0
BuiltArea                0
NumberOfBathrooms        0
dtype: int64

In [49]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

high_card_cols = [col for col in dataset.select_dtypes(include=['object']).columns
                  if dataset[col].nunique() > 1000]

for col in high_card_cols:
    print(f"Encoding {col} with {dataset[col].nunique()} unique values...")
    dataset[col] = le.fit_transform(dataset[col].astype(str))

print("\nHigh cardinality columns encoded!")

High cardinality columns encoded!

In [37]:

remaining_text_cols = dataset.select_dtypes(include=['object']).columns

dataset = pd.get_dummies(dataset, columns=remaining_text_cols, drop_first=True)

print(f"columns after encoding: {dataset.shape[1]}")

columns after encoding: 376

In [38]:
dataset

,Price,Town,GrossArea,TotalArea,Parking,HasParking,ConstructionYear,PublishDate,Garage,Elevator,...,EnergyEfficiencyLevel_D,EnergyEfficiencyLevel_E,EnergyEfficiencyLevel_F,EnergyEfficiencyLevel_G,EnergyEfficiencyLevel_NC,ConservationStatus_Like new,ConservationStatus_Needs renovation,ConservationStatus_New,ConservationStatus_Reasonable,ConservationStatus_Used
0,780000.0,497,200.0,552450.0,0.0,False,1993.0,5652,False,False,...,False,False,False,False,True,False,False,True,False,False
1,223000.0,1827,164.0,81.0,1.0,True,1993.0,5652,False,True,...,False,False,False,False,True,False,False,True,False,False
2,228000.0,1827,164.0,108.0,1.0,True,1993.0,5652,False,True,...,False,False,False,False,True,False,False,True,False,False
3,250000.0,1827,164.0,114.0,1.0,True,1993.0,5652,False,True,...,False,False,False,False,True,False,False,True,False,False
4,250000.0,1827,164.0,114.0,1.0,True,1993.0,5652,False,True,...,False,False,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99659,289000.0,1059,164.0,105.0,0.0,False,1963.0,8248,True,False,...,False,False,False,False,False,False,False,True,False,False
99660,275000.0,162,164.0,236.0,0.0,False,1982.0,7569,True,False,...,False,False,True,False,False,False,True,False,False,False
99661,295000.0,1365,164.0,72.0,0.0,False,1969.0,7766,False,False,...,False,False,False,False,True,False,False,True,False,False
99662,370000.0,1674,164.0,49.0,0.0,False,1998.0,5652,False,True,...,False,False,False,False,False,False,False,True,False,False
99663,12500.0,178,164.0,20.0,0.0,False,1937.0,0,False,False,...,False,False,False,False,True,False,False,True,False,False

In [39]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X = dataset.drop('Price', axis=1)
y = dataset['Price']
X_scaled = scaler.fit_transform(X)

print("congragulations! your 1lak rows dataset is now clean, Encode and Scale .")

congragulations! your 1lak rows dataset is now clean, Encode and Scale .

In [40]:
import numpy as np

print("Mean (should be equal to zero):", np.round(np.mean(X_scaled), 2))
print("Standard Deviation (should be):", np.std(X_scaled))

Mean (should be equal to zero): -0.0
Standard Deviation (should be): 0.9999999999999991

In [41]:

dataset = dataset.astype(int, errors='ignore')

bool_cols = dataset.select_dtypes(include=['bool']).columns
dataset[bool_cols] = dataset[bool_cols].astype(int)

print("All True/False are now 1 and 0!")

All True/False are now 1 and 0!

In [42]:
print(dataset.dtypes.unique())

[dtype('int64')]

In [43]:
dataset = dataset.apply(pd.to_numeric, downcast='float')

In [44]:
dataset

,Price,Town,GrossArea,TotalArea,Parking,HasParking,ConstructionYear,PublishDate,Garage,Elevator,...,EnergyEfficiencyLevel_D,EnergyEfficiencyLevel_E,EnergyEfficiencyLevel_F,EnergyEfficiencyLevel_G,EnergyEfficiencyLevel_NC,ConservationStatus_Like new,ConservationStatus_Needs renovation,ConservationStatus_New,ConservationStatus_Reasonable,ConservationStatus_Used
0,780000.0,497.0,200.0,552450.0,0.0,0.0,1993.0,5652.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,223000.0,1827.0,164.0,81.0,1.0,1.0,1993.0,5652.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,228000.0,1827.0,164.0,108.0,1.0,1.0,1993.0,5652.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,250000.0,1827.0,164.0,114.0,1.0,1.0,1993.0,5652.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,250000.0,1827.0,164.0,114.0,1.0,1.0,1993.0,5652.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99659,289000.0,1059.0,164.0,105.0,0.0,0.0,1963.0,8248.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
99660,275000.0,162.0,164.0,236.0,0.0,0.0,1982.0,7569.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
99661,295000.0,1365.0,164.0,72.0,0.0,0.0,1969.0,7766.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
99662,370000.0,1674.0,164.0,49.0,0.0,0.0,1998.0,5652.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
99663,12500.0,178.0,164.0,20.0,0.0,0.0,1937.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [45]:
from sklearn.decomposition import PCA

pca = PCA(n_components=0.95)

X_pca = pca.fit_transform(X_scaled)

print(f"Original features: {X_scaled.shape[1]}")
print(f"Reduced features: {X_pca.shape[1]}")

Original features: 375
Reduced features: 316

In [50]:

dataset.to_csv('cleaned_house_data.csv', index=False)
print("Data is save as CSV!")

Data is save as CSV!

In [47]:

from google.colab import drive
drive.mount('/content/drive')

dataset.to_csv('/content/drive/MyDrive/cleaned_house_data.csv', index=False)

print("Fyour file is now save in google drive'cleaned_house_data.csv' This is the name of your file")

Mounted at /content/drive
Fyour file is now save in google drive'cleaned_house_data.csv' This is the name of your file